.ant-tabs-nav {
  width: 30%;

  &-wrap {
    border-radius: 15px 0 0 15px;

    .ant-tabs-tab.ant-tabs-tab-active {
      border-radius: 15px 0 0 15px;
      background: #ffffff;
      box-shadow: 2px 2px 5px #1890ff,
        -2px -2px 5px #ffffff;
    }

    .ant-tabs-tab-btn {
      width: 100%;

      .routeSelection-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .route_num {
          font-size: 2em;
          font-weight: bold;
        }

        .ant-cascader {
          width: 100%;
          max-width: 40%;
        }
      }
    }
  }
}

















// .routeSelection-wrapper {
//   display: flex;
//   flex-direction: row;
//   align-items: center;

//   .route_num {
//     font-size: 2em;
//     font-weight: bold;
//   }
// }

// .ant-tabs-nav-wrap {
//   border-radius: 15px 0 0 15px;
// }

// .ant-tabs-tab.ant-tabs-tab-active {
//   border-radius: 15px 0 0 15px;
//   background: #ffffff;
//   box-shadow: 2px 2px 5px #1890ff,
//     -2px -2px 5px #ffffff;
// }

// .ant-tabs-tab-btn {
//   width: 100%;
// }

// .ant-tabs-nav {
//   width: 40%;
// }

// .ant-cascader {
//   width: 100%;
//   max-width: 45%;
// }